/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* COMMON */

body {
    font-family: Seven Segment, sans-serif;
}

.centered-text {
    text-align: center;
}

.container {
    width: 50%;
    min-width: 350px;
    margin: 0px auto;
}


/* HEADER */

.logo {
    text-align: center;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
}

/* MAIN */

/* Display Section */

.display {
    background-color: black;
    min-height: 80px;
    color: #07c697;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.display-text {
    font-size: 50px;
    line-height: 80px;    j
}

/* Buttons Section */

.keybord {
    text-align: center;
    background-color: lightgray;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    
}

.buttons {
    width: 60px;
    height: 60px;
    margin: 5px;
    line-height: 60px;
    border-radius: 5px;


    /* Notes */
    background-color: grey;

}

.grid {

}

.column {

}